<h1>About</h1>
<p>
	Greetings!
</p>	
<p>
We’re launching an initiative here in Omaha to equip our city’s children with books.
Every night.
</p>	
<p>
But these aren’t just any books. They are scientifically leveled based on each student’s independent reading level.
</p>	
<p>
In high-poverty communities, we help teachers do so in individual classrooms/schools. We raise money. We train teachers, parents, volunteers, and even the students themselves. We help put books in hands.
</p>	
<p>
Now, we’re exploring if there’s a more scalable way to get these books in the hands of kids in more affluent communities - a critical step if we are to truly make this a city-wide effort.
</p>
<p>
That's where this website comes in!  Here's how it works:  
</p>
<p>
VIDEO
</p>

<p>
	<a href="#">Sign Up Now!</a>
	</p>